.glow-text {
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF6F61, 0 0 70px #FF6F61, 0 0 80px #FF6F61, 0 0 100px #FF6F61;
  }

.movie {
    padding: 20px;
    
}

li {
    font-size: 20px;
    padding: 20px; 
    margin-bottom: 20px;
}


*= require_tree .
*= require_self
*= require movies
*= require glow

